<h1> Registration Form </h1>
<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="fname" name="fname"><br><br>
    </div>
    <div class="form-group">
        <label for="place">Place</label>
        <select [(ngModel)]="lname" name="lname" id="place" class="form-control"></select>
        <option *ngFor="let c of categories" [value]="c.id">{{ c.name }}</option>
    </div>
    <div class="checkbox">
        <label for="moneyBackGuarantee">
            <input type='checkbox'  id='moneyBackGuarantee' class = "form-control"> 
             Male    
        </label>
    </div>
</form>
    <br>
    <input value = "Submit" type="submit"  (keyup.enter)="callingJson()">